*.pyc
*.del
*.pdf
*.del
build/
*.npz
*.bof

*/rev/*


##this are for vivado buildings
*.jou
*.log
*.debug
*.str
*.zip
*.tmp
*.rst
*.os
*.js
*.pb
*.dcp
*.hwdef
*.vds
*.veo
*.wdf
*.vdi
*.dmp
*.rpx
*.rpt
*_stub.v
*_stub.vhdl
*_funcsim.v
*_funcsim.vhdl
.project
*.cache

## sim dump
*.vcd
*.saif
*.tcf
*.wdb
*.fst
*.xpr

*.cache/
*.hw/
*.ip_user_files/
*.runs/
*.sim/
*.gen/
*.srcs/

## checkpoint files
*.dcp


